<!DOCTYPE html>
<html>
<head>
	<title>Update Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container mt-5">
		<h1 class="text-primary rounded text-center mb-5">Update Form</h1>
		<form class="text-primary" method="post">
			{% csrf_token %}
		    <label ><strong>First Name</strong></label>
		    <input type="text" class="form-control" placeholder="Enter First Name" name="fname" value={{data.first_name}}>

		    <label ><strong>Last Name</strong> </label>
		    <input type="text" class="form-control" placeholder="Enter Last Name" name="lname" value={{data.last_name}}>

			<label><strong>Email</strong></label> 
			<input class="form-control" type="email" name="mail" placeholder="Enter Email" value={{data.email}}

			<label><strong>Phone Number</strong></label>
			<input class="form-control" type="number" name="phno" placeholder="Enter Phone Number" value={{data.phone_num}}>

			<label><strong>Age</strong></label>
			<input class="form-control" type="number" name="age" placeholder="Enter Age" value={{data.age}}>
			  
			<div class="text-center"><button type="submit" class="btn btn-success mt-3">Update</button></div>
		</form>
	</div>
</body>
</html>